<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Users</title>
    <meta userName="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

<!--    <script src="js/history.js"></script>-->


</head>
<body>
<div class="center">
    <div th:switch="${users}" class="col-md-12">
        <div th:case="*">
            <h3 style="text-align:center">TOP 10 Users that you search </h3>
        </div>
        <table class="table table-striped table-responsive-md">
            <thead>
            <tr>
                <th>Name</th>
                <th> Quantity of searches</th>
                <th>No. Of Followers</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td><a th:href="${user.getHtmlUrl()}" th:text="${user.getLoginName()}" target="_blank"/>
                </td>
                <td th:text="${user.getNumOfSearches()}"></td>
                <td th:text="${user.userFollowers}"></td>
            </tr>
            </tbody>
        </table>
        <form>
            <button class="btn btn-outline-danger" id="clearHistory">Clear History</button>
            <button class="btn btn-outline-primary" formaction="/searchUserPage" th:formmethod="GET">Main Page</button>
        </form>
    </div>
</div>
</div>
</div>

<script>

(function () {

    window.addEventListener('DOMContentLoaded', event => {

        document.getElementById("clearHistory").addEventListener("click", listener => {
            myParams = {method: "post",
                headers : "Content-Type : application/json"};

            fetch("/ClearHistory", {method : 'post'})
                .then(status)
                .then(json)
                .then(response => {
                    if (response.userLogOut === true) // user logged out
                        window.location.replace("http://localhost:8080/");
                    else {
                        window.location.replace("http://localhost:8080/ShowHistoryData");
                    }
                })
                .catch(err => {
                });
        })
    });

    // check a status of the response was accepted from github api or from the server
    function status(response) {
        if (response.status >= 200 && response.status < 300) {
            return Promise.resolve(response)
        } else {
            return Promise.reject(new Error(response.statusText))
        }
    }

    // return response as a json object
    function json(response) {
        return response.json()
    }
})();
</script>
</body>
</html>