<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ex3</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body><div class="center">
            <div class="col-md-12">
                    <h1 style="text-align:center">Github Search:</h1>
                    <h3 style="text-align:center">search GitHub user</h3>
                    <form action="/addUser" method="post">
                        <div class="form-group row">
                            <input type="text" class="form-control" name="userName" placeholder="Enter github User Name">
                        <button .form-horizontal class="btn btn-outline-primary" type="submit" formmethod="post">Search
                        </button>
                        <button class="btn btn-outline-danger" type="submit" formmethod="post"
                                formaction="/logoutUser">Logout
                        </button>
                        <button class="btn btn-outline-success" type="submit" formmethod="get"
                                formaction="/ShowHistoryData">Show User History
                        </button>

                        </div>
                    </form>
            </div>
                    <div id="notFound" th:if="${notFound}" class="alert  alert-warning"> "User not found !"</div>
                    <div th:switch="${user}" class="col-md-6">
                        <h4 th:case="null">No Information</h4>
                        <div th:case="*">
                            <h3>User Information</h3>
                            <table class="table table-striped table-responsive-md">
                                <thead>
                                <tr>
                                    <th>Login Name</th>
                                    <th>No. Of Followers</th>
                                </tr>
                                </thead>
                                <tbody>
                                <td><a th:href="${user.getHtmlUrl()}" th:text="${user.getLoginName()}" target="_blank"/>
                                </td>
                                <td th:text="${user.userFollowers}"></td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
</div>
</div>
</body>
</html>